*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Inter', sans-serif;
}

body{
background:#020617;
color:#fff;
}

/* NAV */
.navbar{
display:flex;
justify-content:space-between;
padding:20px 8%;
position:fixed;
width:100%;
background:#020617;
}

.logo span{color:#f59e0b;}

.nav-links a{
margin-left:20px;
text-decoration:none;
color:#fff;
}

.nav-cta{
background:#f59e0b;
padding:8px 15px;
border-radius:6px;
color:black;
}

/* HERO */
.hero{
height:100vh;
background:url("https://images.unsplash.com/photo-1555066931-4365d14bab8c") center/cover;
display:flex;
align-items:center;
justify-content:center;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
}

.hero-content{
position:relative;
text-align:center;
max-width:700px;
}

.logo-img{
width:60px;
margin-bottom:20px;
}

.hero h1 span{color:#f59e0b;}

.hero p{margin:20px 0;color:#cbd5e1;}

.btn-primary{
background:#f59e0b;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
color:black;
margin-right:10px;
}

.btn-secondary{
border:1px solid #f59e0b;
padding:12px 25px;
text-decoration:none;
color:#f59e0b;
}

.stats{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.stats h3{color:#f59e0b;}

/* SECTIONS */
section{
padding:80px 10%;
text-align:center;
}

.tools img{
width:50px;
margin:15px;
}

.features{
display:flex;
justify-content:center;
gap:30px;
}

.feature{
background:#0f172a;
padding:30px;
border-radius:12px;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
}

.card{
background:#0f172a;
padding:30px;
border-radius:12px;
}

.highlight{
border:1px solid #f59e0b;
}

/* FORM */
.form-box{
background:#0f172a;
padding:40px;
max-width:500px;
margin:auto;
border-radius:15px;
}

input,select,textarea{
width:100%;
padding:12px;
margin:10px 0;
background:#020617;
border:none;
color:white;
}

button{
width:100%;
padding:12px;
background:#f59e0b;
border:none;
border-radius:8px;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
color:#94a3b8;
}